{% extends 'base.html' %}
{% block code %}{{ code }}{% endblock %}
{% block compiler %}
    {% for lan in compilers %}
        <option value="{{ lan[0] }}" {{ "selected" if lan[0]=="Python" else "" }}> {{ lan[0] }}</option>
    {% endfor %}
{% endblock %}
{% block question %}{{ question }}{% endblock %}
{% block lang %}
    {% for lan in compilers %}
        <a href="{{ lan[1] }}">{{ lan[0] }}</a>
        <br/>
    {% endfor %}
{% endblock %}
{% block score %}
    <p style="color: lightcyan">{{ rs[1] }}</p>
{% endblock %}
{% block rsp %}
    {% for r in rs[2] %}
        <p style="color: #E91E63">{{ r }}</p>
    {% endfor %}
{% endblock %}
{% block time %}
    <p style="color: #FFEB3B">{{  rs[0] }}</p>
{% endblock %}
{% block level %}
    {% for i in level %}
        <br>
        <a href="{{ i[1] }}">{{ i[0] }}</a>
        <br>
    {% endfor %}
{% endblock %}
{% block a_question %}
    {% for i in t_question %}
        <a href="{{ i[1] }}">
            <p style="{{ 'color:'+i[2][12:] }}">{{ i[0] }}</p>
        </a>
    {% endfor %}
{% endblock %}
{% block a_read %}
    {% for i in t_read %}
        <p>{{ i }}</p>
    {% endfor %}
{% endblock %}